/* header{margin-top: 1%} */

/* *{border: 1px solid #000} */

.section_metro{
  

    background: rgb(0,0,0);
    background-image: radial-gradient(ellipse 40% 50% at top right, #fffac9da, transparent),
                      radial-gradient(ellipse 70% 90% at right, #5dd8f7d1, transparent),
                      radial-gradient(ellipse 40% 80% at  bottom right, #DE73D8, transparent);
    
    padding-top: 7em; /* en attendant*/
   height: 100vh;
 
  
}

.metro_full_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


    .title_navigo{
    text-transform: math-auto;
    font-size: 3em;
    font-weight: 500;
    color: white;
    margin-bottom: 2em;

    }

    .metro_presentation_container{
        display: flex;
        flex-direction: row;
        gap: 1em;
    }




    .right_container_presentation{
        display: flex;
        flex-direction: column;
        /* justify-content: center;
        align-items: center; */
        color: white;
        gap: 1em;
     
    }

    .card{
        display: flex;
        flex-direction: column;
        gap: 1em;
        background: rgba( 255, 255, 255, 0.07 );
        box-shadow: 0 8px 32px 0 rgba(13, 16, 57, 0.7);
        backdrop-filter: blur( 20px );
        -webkit-backdrop-filter: blur( 20px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        padding: 2em;
        width: 50%;

    }

    .card h3{
        font-size: 2em;
    }
    .card p{
        font-size: 1.5em;
        font-weight: 100;
    }
    

    .etiquettes_container  {
        display: flex;
        flex-direction: row;
        gap: 1em;
        
   
    }
    .etiquettes_container span {
        color: white;
        font-weight: 200;
        border: 0.5px solid;
        padding: 1em;
        background: rgba( 206, 203, 97, 0 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 20px );
        -webkit-backdrop-filter: blur( 20px );
        border-radius: 10px;


    }
    
    .metro_mode_emploi_container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1em;
    }
    
    #video_metro {
        width: 25em;
        border-radius: 20px;
    }
    .right_container_mode_emploi{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1em;
    }
     .container_explication{
        width: fit-content;
     }
    .qr {
        width: 7em;
        border-radius: 20px;
    }

    .item_mode_emploi{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1em;
        color: white;
    }

    .item_mode_emploi h1{
        font-weight: bold;
        font-size: 3em;
        
    }

