/* header{margin-top: 1%} */

/* *{border: 1px solid #000} */

.section_metro{
  

    background: rgb(0,0,0);
    background-image: radial-gradient(ellipse 40% 50% at top right, #fffac9da, transparent),
                      radial-gradient(ellipse 70% 90% at right, #5dd8f7d1, transparent),
                      radial-gradient(ellipse 40% 80% at  bottom right, #DE73D8, transparent);
    margin: auto;
    border-radius: 20px;
    display: flex;
    justify-content: center!important;
    align-items: center;
}







