header{margin-top: 1%}

/* *{border: 1px solid #000} */

.section_metro{
    background: -moz-linear-gradient(38deg, rgba(248,136,242,0.8) 0%, rgba(255,250,201,0.5) 50%, rgba(58,214,255,0.8) 100%);
    background: -webkit-linear-gradient(38deg, rgba(248,136,242,0.8) 0%, rgba(255,250,201,0.5) 50%, rgba(58,214,255,0.8) 100%);
    background: linear-gradient(38deg, rgba(248,136,242,0.8) 0%, rgba(255,250,201,0.5) 50%, rgba(58,214,255,0.8) 100%);
    margin: auto;
    border-radius: 20px;
    display: flex;
    justify-content: center!important;
    align-items: center;
}

.parent_bento_metro {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(22, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    height: 80%;
    width: 80%;
    background: rgb(247 247 247 / 91%);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.carte_metro_div { 
    grid-area: 6 / 5 / 18 / 10; 
    background-image: url("../assets/images/metro/carte_navigo.png");
    background-repeat: no-repeat;
    background-size: contain; 
    background-position: center;
}
.div2 { 
    grid-area: 2 / 8 / 6 / 13; 
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon_location_div { 
    grid-area: 6 / 10 / 12 / 13; 
    background-color: #fff;
    border-radius: 20px;
    text-align: center;
}
.video_presentation_div { 
    grid-area: 12 / 10 / 18 / 13; 
    margin: 0;
    padding: 0;
    background-size: cover;  
    overflow: hidden;  
    border-radius: 20px;
}

.carte_metro_3D { 
    grid-area: 18 / 6 / 22 / 13; 
    background-image: url("../assets/images/metro/carte_3D_metro.png");
    background-repeat: no-repeat;
    background-size: cover; 
    border-radius: 20px;
}
.exact_location_div { 
    grid-area: 2 / 5 / 6 / 8; 
    background-image: url("../assets/images/metro/exact_loc.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    border-radius: 20px;
}
.display_map_on_card { 
    grid-area: 2 / 2 / 12 / 5; 
    background-image: url("../assets/images/metro/carte_avec_3D.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    border-radius: 20px;
    background-position: center;
}
.qr_code_carte_metro { 
    grid-area: 12 / 2 / 18 / 5; 
    background-color: #fff;
    border-radius: 20px;
}

.qr_code{
    background-image: url("../assets/images/metro/carte_metro_qr.png");
    background-repeat: no-repeat;
    background-size: 95%; 
    background-position: center;
    height: 100%;
    width: 100%;

}

.texte_carte_metro { 
    grid-area: 18 / 2 / 22 / 6; 
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text_p_homepage{
    text-align: center;
}
.text_presentation {
    grid-area: 3 / 14 / 20 / 20; 
    background-color: #fff; 
    border-radius: 20px;
    padding: 20px 30px;
}

.tal{text-align: left;}
.div11 { grid-area: 9 / 13 / 13 / 14; }
.div12 { grid-area: 1 / 13 / 9 / 14; }
.div13 { grid-area: 13 / 13 / 21 / 14; }

#video_metro{
    width: 100%; 
    border-radius: 20px;
    background-size: cover; 
} 