* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    scrollbar-color: #717171 transparent;
    scrollbar-width: thin;
}

html {
    background: #ffffff;
}

body{
    background: #ffffff;
    cursor: none;
    position: relative;
}

.main_title_site{
    font-weight: 400;
    text-align: center;
    margin-bottom: 16px;
}

.small_title_site{
    font-weight: 400;
    text-align: center;
    margin: auto;
}

#text_under_main_title{
    text-align: center; 
    margin-top: -1rem;

}

.main_title_site span{
    font-size: 6vmin;
}

canvas{
    margin: auto;
    border-radius: 20px;
    background: rgb(0,0,0);
    background-image: radial-gradient(ellipse 40% 50% at top right, #fffac9da, transparent),
                      radial-gradient(ellipse 70% 90% at right, #5dd8f7d1, transparent),
                      radial-gradient(ellipse 40% 80% at  bottom right, #DE73D8, transparent);
 
}


.body:hover #custom-cursor {
    opacity: 1;
}

a:hover{cursor: none;}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    border-radius: 15px;
    /* width: 99.5%; */
    transition: height 3s ease-out, width 3s ease-out, margin-top 3s ease-out, margin-left 3s ease-out, border-radius 3s ease-out;
    /* margin-left: 0.25%; */
}


.section, .section_first {
    display: flex;
    position: relative;
    color: white;
    text-transform: uppercase;
    font-size: 7vmin;
    font-weight: 500;
}

.section_first{
    align-items: center;
    height: 100vh;
    padding-right: 17%;
    padding-left: 18%;
}

.section{
    padding-left: 20%;
    height: 90vh;
    margin-bottom: 20%;
    align-items: center;
    padding-right: 10%;
}

.white_text{
    color: #f3f3f3;
}

.section_second{
    align-items: center;
    height: -webkit-fill-available;
    position: relative;
    font-family: 'Cabin', sans-serif;
    color: #414141;
    text-transform: uppercase;
    padding-right: 5%;
    margin-top: 10vw;
    font-weight: 500;
}

.non_elect_area{
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}

section:nth-child(odd) {
    justify-content: flex-end;
    /* margin-right: 8%; */
}

.ma{
    margin: auto;
}

.tal{
    text-align: left;
}

.tdn{
    text-decoration: none;
    color: #000;
}

.text_p_homepage{
    font-size: 20px;
    font-weight: 200;
}

/* font */
.roboto_medium {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.9vw;
}

.roboto_light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

/* Custom cursor */
.custom-cursor {
    position: fixed;
    opacity: 0;
    pointer-events: none;
    mix-blend-mode: difference;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    transition: transform 350ms ease;
    transform: translate(-50%, -50%) scale(.3);
    z-index: 1000;
}

.custom-cursor--link {
    transform: translate(-50%, -50%) scale(1);
}

/* Header */
header{
    position: fixed;
    height: 40px;
    width: 60%;
    background: rgba(255, 255, 255, 0.5);
    z-index: 4;
    margin-left: 20%;
    margin-top: 2%;
    border-radius: 15px;
    box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);
}

.parent_header_menu {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    height: 40px;
   
}

.fz{
    font-size: 17px;
}
.logo-name-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inline{
    display: inline-flex;
}

.logo_div { 
    grid-area: 1 / 1 / 2 / 2; 
    margin: 5px 15px 0 15px;
    /* margin: auto 0 auto 2rem; */
    /* display: inline-flex; */
}

.logo_div { grid-area: 1 / 1 / 2 / 2; }
.a_propos_div { grid-area: 1 / 2 / 2 / 3; }
.avantages_site_immersifs_div { grid-area: 1 / 3 / 2 / 4; }
.confiance_div { grid-area: 1 / 4 / 2 / 5; }
.exemple_site { grid-area: 1 / 5 / 2 / 6; }
.contact_div { grid-area: 1 / 6 / 2 / 7; }

/* Glassmorphism */
.glass_effect {
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 20px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

/* First section - Bento display */
/* Forst test */
/*
.parent_bento_first_section {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    grid-column-gap: 14px;
    grid-row-gap: 14px;
    width: 95%; 
    padding: 40px;
}

.border_radius_bento{
    border-radius: 15px; 
}

.div1 { 
    grid-area: 1 / 1 / 8 / 7; 
    background-color: #F28482;
}
.div2 { 
    grid-area: 8 / 1 / 11 / 7; 
    background-color: #84A59D;
}
.div3 { 
    grid-area: 11 / 1 / 21 / 11; 
    background-color: #F5CAC3;
}
.div4 { 
    grid-area: 5 / 17 / 21 / 21; 
    background-color: #F7D6E0;
}
.div5 { 
    grid-area: 1 / 17 / 5 / 21; 
    background-color: #7BDFF2;
}
.div6 { 
    grid-area: 1 / 13 / 13 / 17; 
    background-color: #F6BD60;
}
.div7 { 
    grid-area: 6 / 7 / 11 / 10; 
    background-color: #F7EDE2;
}
.div8 { 
    grid-area: 1 / 7 / 6 / 13; 
    background-color: #8B85C1;
}
.div9 { 
    grid-area: 11 / 11 / 21 / 13; 
    background-color: #D4CDF4;
}
.div10 { 
    grid-area: 13 / 13 / 21 / 17; 
    background-image: url('./assets/images/homepage/test_display_metro.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}
.div11 { 
    grid-area: 6 / 13 / 11 / 10;
    background-color: #B2F7EF;
}
*/

.parent_bento_first_section {
    display: grid;
    grid-template-columns: repeat(2, 0.2fr) repeat(9, 1fr) repeat(2, 0.5fr) repeat(4, 1fr) repeat(3, 0.2fr);
    grid-template-rows: 0.1fr repeat(2, 1fr) 0.1fr 0.2fr repeat(3, 1fr) 0.2fr repeat(11, 1fr);
    grid-column-gap: 14px;
    grid-row-gap: 14px;
    width: 95%; 
    padding: 20px 40px;
}

.background_test_bento{
    background: #e7e7e7;
}

.main_title_div_bento { grid-area: 2 / 3 / 4 / 19; }

.text_main_title{
    background: -webkit-linear-gradient(0deg, #DE73D8 20%, #5dd8f7d1 50%, #fffac9da 80%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    line-height: 1.1;
    font-weight: 400;
    letter-spacing: 0em;
    width: fit-content;
    
}
.first_section_div_bento { grid-area: 5 / 3 / 10 / 12; padding: 1.5rem;}

.inside_first_section_icon_part{
    border: 1px solid #f3f3f3;
    width: fit-content;
    padding: 20px 30px;
    border-radius: 15px;
    margin: 0.5rem 1.5rem;
    height: max-content;
}

.second_inside_first_div{
    grid-area: 6 / 7 / 9 / 12;
    z-index: 2;
    width: fit-content;
    padding: 20px;
    border-radius: 15px;
    margin: 0.5rem 1.5rem;
    height: max-content;
    font-size: 25px;
    text-transform: math-auto;
    /* mix-blend-mode: difference; */
    color: #414141;
    font-weight: 200;
}

.display_infos_bento_text{
    text-align: center;
    color: #414141;
    border: #414141 solid 0.5px;
}

.first_inside_first_div { grid-area: 6 / 3 / 9 / 7; z-index: 2;}
.ask_demo_div_bento { 
    grid-area: 10 / 3 / 12 / 12; 
    background: whitesmoke;
    width: 80%;
    margin: auto;
    padding: 10px 15px;
    text-align: center;
    color: #000;
}

.display_elem_inside_div{
    display: inline-flex;
    height: 100%;
}

.qr_art_image{
    padding: 0 4px;
}

.pub_div_bento { grid-area: 12 / 8 / 13 / 12; }
.model_space_div_bento { grid-area: 12 / 3 / 13 / 8; }
.discover_more_div_bento { grid-area: 13 / 7 / 14 / 12; }
.pub_second_div_bento { grid-area: 13 / 3 / 14 / 7; }
.display_qr_exemple_div_bento { grid-area: 14 / 3 / 21 / 12; padding: 4px;}
.mockup_iphone_div_bento { 
    grid-area: 6 / 14 / 19 / 23; 
    text-align: center; 
    width: 65%;
    /* background-image: url("./assets/images/mockup/iphone_mockup.png"); 
    background-repeat: no-repeat;
    background-size: cover; */
}
.contact_div_bento { 
    grid-area: 20 / 14 / 21 / 17;
    margin-left: 3.5rem;
}

.background_text_confiance{
    background: #000;
    margin: 2rem;
    border-radius: 20px;
    border: 1px solid #fff;
    text-align: center;
    padding: 30px;
    width: min-content;
    margin-top: 1rem;
}

.contact_color{
    background-color: #FBF9AB;
    color: #000;
    text-align: center;
}

.mockup_iphone{
    width: 17rem;
}

.icon-tabler-circle-arrow-right{
    margin-top: 0.5rem;
}

/* Avantages divs */
/* test */
/* .avantages_div_1{ grid-area: 1 / 1 / 6 / 7; }
.avantages_div_2{grid-area: 6 / 1 / 11 / 7; }
.avantages_div_3{grid-area: 11 / 1 / 16 / 7; }
.avantages_div_4{grid-area: 16 / 1 / 21 / 7; } */

.display_none_div{
    display: none; 
    opacity: 0;
}

.transition_div{
    opacity: 1; 
    transition: opacity 0.4s ease-out, height 1s ease-out, width 1s ease-out;
}
/* Contenu div */
/* Homepage */
.background_div_more_info{
    background-color: #1a1a1a;
    width: 50%;
    border-radius: 20px;
    padding: 15px;
    display: flow;
}

#display_inside_div_3{
    display: flex;
    padding: 0.8rem;
}

.title_inside_div{
    margin: 1rem;
    width: 100%;
}

.image_qr{
    width: 14.2rem;
}

.display_inside_div_6{
    font-size: 35px;
    font-weight: 200;
    padding: 1rem;
}

#display_inside_div_7{
    text-align: center;
    margin-top: 1rem;
}

.remove_info_div{
    opacity: 1; 
    transition: opacity 0.5s ease-out;
}

#image_presentation_div10{
    width: -webkit-fill-available;
}

.image_presentation_metro{
    border-radius: 15px;
    width: -webkit-fill-available;
}

/* Test arguments section */
.argument_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8em;
    align-items: baseline;
    height: max-content;
    justify-content: center;
    display: none; 
    opacity: 0; 
}

.title_avantages{
    width: 27%;
    font-size: 1.3vw;
    color: #d9d9d9;
    margin-left: 8%;
}
.question-answer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
    margin: -8% 0 5rem 40%;
}

.gradient_text_section_one {
    background: linear-gradient(-61deg, #DE73D8 20%, #5dd8f7d1 50%, #fffac9da 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    font-size: 4vw;
    overflow: hidden;
}


.faq {
    max-width: 700px; margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #fff;
}

.question {
display: flex;
justify-content: space-between;
align-items:center;

} 

.question h3{
    font-size: 1.8rem;
    font-weight: 700;
    color: #b9b9b9;
    line-height: 4vw;
}

.answer{
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease ;
}

.faq.active .answer{
    max-height:  300px;
    animation: fade 1s ease-in-out;
}

.faq.active svg {
    transform: rotate(45deg);
  
}

svg{
   transition: transform 0.5s ease-in;
}

.text_style_avantages_p{
    font-weight: 200;
    text-transform: math-auto;
    color: #b9b9b9;
    line-height: 1.3vw;
}

@keyframes fade {
    from {
        opacity:0;
        transform: translateY(-10px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);

    }
}
/* fin test arguments section */

/* Fonctionnement */
.title_fonctionnement h1 {
    text-transform: math-auto;
    font-size: 2.2em;
    color: white;
    margin-bottom: 2em;

}

.description_fonctionnement_container{
    display: flex;
    flex-direction: row;
    gap: 4em;
    justify-content: center;
    align-items: center;
}

.description_fonctionnement_right{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.list_style{
    list-style: circle;
    font-weight: 200;
    text-transform: math-auto;
    color: white;
    line-height: 1.7vw;
    font-size: 1.2rem;
    padding-left: 1rem;
}

.description_fonctionnement_left{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2em;

}
.description_fonctionnement_left img{
    border-radius: 30px;
    width: 35em;
}
.text_style_fonctionnement_p{
    font-weight: 200;
    text-transform: math-auto;
    color: white;
    line-height: 2.2vw;
    font-size: 1.4rem;
}

.onglet_video_demo{
   border: 1px solid white;
   border-radius: 20px ;
   text-transform: math-auto;
   font-weight: 200;
   color: white;
   padding: 0.5em;
   text-align: center;
   text-decoration: none; 
}

.onglet_video_demo:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.type_ar_container{
    display: flex;
    flex-direction: row;
    gap: 6em;
    margin-top: 5em;
}

.type_ar_container h1 {
    color: white;
    width: 25%;
}

.suivi, .localisation {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.onglet_type{

    border-radius: 10px ;
    text-align: center;
    background-color: #FBF9AB;
    padding: 0.5em;
}

.exemples_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.onglet_exemple{
    border: 0.5px solid white;
    border-radius: 20px;
    text-transform: uppercase;
    color: white;
    padding: 0.2em 0.5em; 
    margin-right: 5px; 
    margin-bottom: 5px; 
    font-weight: 200;
   text-transform: math-auto;
}

.fonctionnement_container{
    display: none; 
    opacity: 0;
}
/* fin fonctionnement */

/* Prestations container */
.prestations_container{
    display: none;
    opacity: 0;
    height: 20rem;
    margin: auto;
}

.section_contact{
    display: none;
    opacity: 0;
    height: 20rem;
    margin: auto;
}
/* fin prestations */

/* Section metro */
.show_navigo_page, .show_catacombes_page{
    display: none;
    opacity: 0;
    position: fixed;
    height: 50%;
    width: 50%;
    top: 0;
    margin-top: 15%;
    margin-left: 25%;
    z-index: 3;
    /* border-radius: 20px; */
    transition: opacity 1s ease-out, height 0.6s ease-out, width 0.6s ease-out, margin 0.6s ease-out;
    overflow: scroll;
    background: rgb(0,0,0);
    background-image: radial-gradient(ellipse 40% 50% at top right, #fffac9da, transparent),
                      radial-gradient(ellipse 70% 90% at right, #5dd8f7d1, transparent),
                      radial-gradient(ellipse 40% 80% at  bottom right, #DE73D8, transparent);
    /* box-shadow: 0px 0px 22px -6px rgb(255 255 255 / 75%);
    -webkit-box-shadow: 0px 0px 22px -6px rgb(255 255 255 / 75%); */
}

.icon-tabler-x{
    position: fixed;
    right: 3%;
    transition: stroke 0.5s ease-out;
}

.background_icon_close{
    background: #ffffff00;
    transition: fill 0.5s ease-out;
    z-index: 2;
}
.icon-tabler-x:hover{
    stroke: red;
}

.background_icon_close:hover{
    fill: #ff00006b
}

.section_metro, .section_catacombes{
    /* background: rgb(0,0,0);
    background-image: radial-gradient(ellipse 40% 50% at top right, #fffac9da, transparent),
                      radial-gradient(ellipse 70% 90% at right, #5dd8f7d1, transparent),
                      radial-gradient(ellipse 40% 80% at  bottom right, #DE73D8, transparent); */
    
    padding-top: 7em; /* en attendant*/
    width: 70%;
    margin: auto;
    margin-bottom: 3rem;
}

.metro_full_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5em;
}


.title_navigo{
    text-transform: math-auto;
    font-size: 3em;
    font-weight: 500;
    color: white;
    margin-bottom: 2em;
}
.metro_presentation_container{
    display: flex;
    flex-direction: row;
    gap: 6em;
    align-items: center;
}
.right_container_presentation{
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    color: white;
    gap: 1em;
 
}
.card{
    display: flex;
    flex-direction: column;
    gap: 1em;
    background: rgba( 255, 255, 255, 0.07 );
    box-shadow: 0 8px 32px 0 rgba(13, 16, 57, 0.7);
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 20px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 2em;
    width: 100%;
}
.subtitle{
    
    color: white;
}
.card p{
    font-size: 1.5em;
    font-weight: 200;
}

.etiquettes_container  {
    display: flex;
    flex-direction: row;
    
    gap: 1em;
    

}
.etiquettes_container span {
    color: white;
    font-weight: 200;
    border: 0.5px solid;
    padding: 1em;
    background: rgba( 206, 203, 97, 0 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
}

.metro_mode_emploi_container {
    display: flex;
    flex-direction: row;
    gap: 3em;
    height: 35em;
    width: 100%;
   
}

.pass_qr_container{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: baseline;
}

#video_metro {
    width: 27em;
    border-radius: 20px;
   
}
.left_container_mode_full{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.left_container_mode_emploi{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}
 .container_explication{
    width: fit-content;
   
 }
.qr {
    width: 7em;
    border-radius: 20px;
}
.left_container_mode_full h3{
    margin-bottom: 1em;
}
.item_mode_emploi{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    color: white;
}
.item_mode_emploi h1{
    font-weight: bold;
    font-size: 3em;
    
}
.passNavigo {
    width:16em;


}
/* fin section metro*/

/* test display parallax card*/
.realisations_container{
    display: none;
    opacity: 0;
}

.display_realisations_icons{
    display: flex; 
    flex-direction: row;
    width: 75%;
    margin: auto;
    height: auto;
    margin-bottom: 3rem;
}

.tilt_item_card {
    width: 100%;
    height: 100%;
    -webkit-perspective: 800px;
    perspective: 800px;
}

.hover-container {
    position: relative;
    width: 300px;
    height: 450px;
    margin: 50px auto;
}
  
.title_cards_realisations {
    position: absolute;
    font-weight: bold;
    font-size: 30px;
    z-index: 100;
    left: 6%;
    top: 80%;
    pointer-events: none;
    color: #fff;
    transition: top 0.5s ease-out
}

/* .under_title_cards_realisations{
    position: absolute;
    font-weight: 200;
    font-size: 20px;
    z-index: 100;
    top: 102%;
    margin: 0 10px;
    pointer-events: none;
    color: #fff;
    transition: top 0.5s ease-out; 
    text-decoration: none;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 4px 6px; 
} */

.under_title_cards_realisations{
    text-align: center;
    padding-top: 1em;
    position: absolute;
    font-weight: 200;
    font-size: 19px;
    text-transform: math-auto;
    z-index: 100;
    top: 130%;
    margin: 0 10px;
    pointer-events: none;
    color: #fff;
    transition: top 0.5s ease-out; 
    text-decoration: none;
    background: rgb(0,0,0);
    background: -moz-radial-gradient(circle, rgba(0,0,0,1) 61%, rgba(255,255,255,0) 100%);
    background: -webkit-radial-gradient(circle, rgba(0,0,0,1) 61%, rgba(255,255,255,0) 100%);
    background: radial-gradient(circle, rgba(0,0,0,1) 61%, rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#ffffff",GradientType=1);



    left: -1%;
    height: 100%;
    width: 94%;

    /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
    /* backdrop-filter: blur( 4px ); */
    /* -webkit-backdrop-filter: blur( 4px ); */
    /* border-radius: 10px; */
    /* border: 1px solid rgba( 255, 255, 255, 0.18 ); */
    /* padding: 4px 6px;  */
}
  
.tilt_item_card-inner {
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 15px;
    pointer-events: none;
    outline: 1.5px solid #fff; 
    outline-offset: -10px;
    border-radius: 17px;
}

.tilt_item_card-inner{
    border: 0px solid #fff;
    transition: border 0.5s ease-out; 
}

.tilt_item_card-inner:hover{
    border: 2px solid #fff;
}

.catacombes_card_realisations{
    background: #000 url("./assets/images/catacombes/geurinet_escalier_3.jpeg") center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: absolute;
    transition: transform 0.2s ease-out, top 0.5s ease-out;
}

.carte_metro_card_realisations{
    background: #000 url("./assets/images/metro/renduTest_2_.webp") center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: absolute;
    transition: transform 0.2s ease-out, top 0.5s ease-out;

}

.catacombes_section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("./assets/images/catacombes/geurinet_escalier_3.jpeg");
    background-size: cover;
    z-index: -1;
    transition: transform 0.2s ease-out, top 0.5s ease-out;
    pointer-events: none;
  }
  
  .parallax_metro::before {
    background-image: url("./assets/images/metro/renduTest_2_.webp");
  }

.geo_tags_card_realisations{
    background: #000 url("") center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* fin test parallax card */

/* Mode paysage */
@media only screen and (min-device-width: 375px) and (max-device-width: 428px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
    /* font */
    .roboto_medium {
        font-size: 2.3vw;
    }

    .parent_header_menu {
        grid-template-columns: repeat(11, 1fr);
    }

    .webgl{
        width: 100%;
    }

    .logo_div { grid-area: 1 / 1 / 2 / 2; }
    .a_propos_div { grid-area: 1 / 2 / 2 / 4; }
    .avantages_site_immersifs_div { grid-area: 1 / 4 / 2 / 6; margin: auto 0;}
    .confiance_div { grid-area: 1 / 6 / 2 / 8; margin: auto 0;}
    .exemple_site { grid-area: 1 / 8 / 2 / 10; margin: auto 0;}
    .contact_div { grid-area: 1 / 10 / 2 / 12; }

    .section_second{
        width: 87%;
    }

    .parent_bento_first_section{
        grid-template-columns: repeat(20, 1fr);
        grid-template-rows: repeat(20, 1fr);
        width: 100%;
        padding: 10px;
        margin-bottom: 1rem;;
    }

}

/* Mode portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 428px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
    /* font */
    .roboto_medium {
        font-size: 2.6vw;
    }

    .webgl{
        width: 98%;
    }
    
    .parent_header_menu {
        grid-template-columns: repeat(11, 1fr);
    }

    .webgl{
        width: 99%!important;
    }
    
    .parent_header_menu {
        grid-template-columns: repeat(11, 1fr);
    }
    
    .logo_div { grid-area: 1 / 1 / 2 / 2; }
    .a_propos_div { grid-area: 1 / 2 / 2 / 4; }
    .avantages_site_immersifs_div { grid-area: 1 / 4 / 2 / 6; margin: auto 0;}
    .confiance_div { grid-area: 1 / 6 / 2 / 8; margin: auto 0;}
    .exemple_site { grid-area: 1 / 8 / 2 / 10; margin: auto 0;}
    .contact_div { grid-area: 1 / 10 / 2 / 12; }

    .section_second{
        height: 99%;
    }

    .parent_bento_first_section{
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(20, 1fr);
        width: 90%;
        padding: 10px 15px;
        margin-bottom: 1rem;;
    }

    .div1 { grid-area: 1 / 1 / 6 / 13; }
    .div2 { grid-area: 6 / 1 / 11 / 13}
    .div3 { grid-area: 11 / 1 / 21 / 13;}
    .div4 { display:none}
    .div5 { display:none }
    .div6 { display: none; }
    .div7 { display:none}
    .div8 { display: none; }
    .div9 { display:none}
    .div10 { display:none}
    .div11 { display:none}
}

/* section catacombes */
/* test font */
.title_catacombes{
    font-size: 4rem;
    font-weight: 700;
    color: white;
    /* font-family: "Teko", sans-serif; */
    font-family: "Open Sans", sans-serif;

    line-height: 1em;
    width: 10em;
  
  
 
}
.sub1{
    font-size: 1.7rem;
    color: white;
    width: 15em;
    font-family: "Open Sans", sans-serif;
    line-height:1.4 ;
    font-weight: 200;
    
}

.sub2 {
    color: white;
    width: 70%;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    line-height: 1.4705882353;
    font-weight: 300;
  
}

/* test font end */


.section_catacombes{
    padding-top: 7em;
    width: 70%;
    margin: auto;
}

.catacombes_full_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5em;
}


 .top_catacombes{
    display: flex; 
    flex-direction: row;
    height: 100vh;
    width: auto;
    gap: 7em;
}

.text_top_catacombes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    width: 100%;
    padding-bottom: 7em;
}

.sub2 {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: start;
  
}


.top_catacombes img{
  object-fit: contain;

 right: 50px;
 
  width: 90%;
  height: auto;

}

.top_catacombe_deux{
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.top_catacombe_deux_right{
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    gap: 1em;
}




.subtitle_title{
    font-weight: 200;
    font-size: 0.7em;
}




.catacombes_presentation_container{
    display: flex;
    flex-direction: column;
    gap: 3em;
    align-items: center;
}



.right_container_presentation{
    display: flex;
    flex-direction: column;
    color: white;
    gap: 1em;
}

.card{
    display: flex;
    flex-direction: column;
    gap: 1em;
    background: black;
    box-shadow: 0 8px 32px 0 rgba(13, 16, 57, 0.7);
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 20px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 2em;
    width: 100%;
}

.subtitle{
    font-size: 2em;
    color: white;
}

.card p{
    font-size: 1.5em;
    font-weight: 100;
}

.etiquettes_container  {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
}

.etiquettes_container span {
    color: white;
    font-weight: 200;
    border: 0.5px solid;
    padding: 1em;
    background: rgba( 206, 203, 97, 0 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
}

.catacombes_mode_emploi_container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    height: -webkit-fill-available;
    margin-bottom: 3rem;
}

.container_explication_second_text p, .container_explication p{
    font-weight: 200; 
}

.container_explication_second_text{
    background: rgba(255, 255, 255, 0.07);
    box-shadow: 0 8px 32px 0 rgba(13, 16, 57, 0.7);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 1rem 1.5em;
    color: #fff;
    height: max-content;
}

.style_list_ul{
    font-weight: 200;
    padding-left: 2rem;
}

.link_website_site, .link_website_site_ra{
    text-decoration: none;
    color: #fff; 
}

.link_website_site_ra{
    padding: 0 20px;
    background: #dedede7a;
    border-radius: 10px;
    padding: 5px 7px;
    border: 2px solid #fff;
    margin: 0 1rem;
    transition: box-shadow 0.5s ease-out;
}

.link_website_site_ra:hover{
    box-shadow: 0 0px 10px 2px rgb(170 170 170 / 70%)
}

.link_website_site:visited, .link_website_site_ra:visited{
    color: #fff;
}

.left_container_mode_full{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.left_container_mode_emploi {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
   
}



.container_explication{
    
    background: rgba( 255, 255, 255, 0.07 );
    box-shadow: 0 8px 32px 0 rgba(13, 16, 57, 0.7);
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 20px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
   padding: 1.5em;

 
}

.tract {
    width:26em;
    border-radius: 20px;
}
.mockup_tract{
    width: 23em;
    border-radius: 20px;
}

.left_container_mode_full h3{
    margin-bottom: 1em;
}

.mode_emploi{
    display: flex;
    flex-direction: column;
    width: 14em;
}
.item_mode_emploi{
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    gap: 1em;
    color: white;
    width: 20em;
}

.item_mode_emploi p {
    max-width: 100%; 
}

.item_mode_emploi h1{
    font-weight: bold;
    font-size: 2em;
}

.guide {
    width: 25em;
    margin-top: 1em;
}


.under_container_mode_full{
    display: flex;
    flex-direction: row;
    gap: 3em;
    margin-top: 14em;
    justify-content: space-around;
}


#video_catacombes {
    width: auto;
    height: 80%;

    
}

.right_container_mode_emploi{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.right_container_mode_emploi_second{
    display: flex;
    flex-direction: column;
}

/* fin catacombes*/

/* Contact */

.section_contact{
    height: 100vh;
    
}

.illustration_container_contact{
   padding-top: 12em;
   display: flex;
   justify-content: center;
}

.text_container_contact{
    display: flex;
    flex-direction: column;
    margin-top: 3em;
    justify-content: center;
    align-items: center;
}
.text_container_contact h1{
    font-family: "Teko", sans-serif;
    color: white;
    font-size: 3rem;
}

.text_container_contact p{
    color: white;
}
.card_illustration_contact{
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 20px;
    width:35%;
    height: 17em;
    position: absolute;
    transform: rotate(-20deg);
    margin-top: 2em;
    background-image: url(https://grainy-gradients.vercel.app/noise.svg);
    opacity: 0.2;


}

.card_illustration_contact_color{
    border-radius: 20px;
    width:35%;
    height: 17em;
    position: relative;
    transform: rotate(-20deg);
    margin-top: 2em;
    position: absolute;
    background-image: radial-gradient(ellipse 40% 50% at top right, #fffac9da, transparent),
                      radial-gradient(ellipse 70% 90% at right, #5dd8f7d1, transparent),
                      radial-gradient(ellipse 40% 80% at  bottom right, #DE73D8, transparent);
}
.illustration_container_contact img{
    position: relative;
    height: 22em;
    padding-left: 4em;
}

.info_container_contact{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin-top: 1em;
}

.info_container_contact h2{
    color: black;
    font-size: 1rem;
    background-color: white;
    border-radius: 20px;
    padding: 0.5em;
  
}

.info_container_contact, p{
    text-transform: math-auto;
   
}



